    .lobby-page {
        display: flex;
        flex-direction: column;
        color: var(--color-text);
        align-items: left;
        height: var(--height-welcome-page);
    }

    .lobby-page__title {
        margin: 40vh 0 0 0;
        color: var(--color-text);
        font-size: 30px;
        text-shadow: var(--text-shadow-welcome-page__heading);
    }

    .lobby-page__text-field {
        display: grid;
        grid-template-columns: 60px calc(100% - 60px);
        gap: 10px;
        margin: 60px 0 0 0;
        height: 60px;
    }

    .lobby-page__text-field--input {
        height: 75px;
        background: #000000;
        box-shadow: 7px 7px 50px #00000073;
    }

    .lobby-page__text-field--edit {
        display: flex;
        flex-direction: column;
        height: 75px;
        background: #000000;
        box-shadow: 7px 7px 50px #00000073;
    }

    .lobby-page__text-field--icon {
        width: 15px;
        height: 15px;
        margin: auto;
    }

    .lobby-page__text-field--edit:hover {
        transform: var(--transform-welcome-page__button--item);
        opacity: 80%;
        text-shadow: 7px 7px 50px #00000073;
        cursor: pointer;
    }

    .lobby-page__text-field--input:hover {
        transform: var(--transform-welcome-page__button--item);
        opacity: 80%;
        text-shadow: 7px 7px 50px #00000073;
        cursor: pointer;
    }

    @media(min-width: 1250px) {
        .lobby-page__text-field {
            height: 5vh !important;
            margin: 60px 0 0 0;
        }

        .lobby-page__title {
            font-size: 30px;
            text-shadow: var(--text-shadow-welcome-page__heading);
            margin: 40vh 0 0 0;
        }
    }