.welcome-page {
    display: flex;
    flex-direction: column;
    align-items: left;
    color: var(--color-text);
    text-shadow: var(--text-shadow-welcome-page__heading);
    height: var(--height-welcome-page);
}

.welcome-page-container {
    margin: 40vh 0 0 0;
    padding: var(--welcome-page-container-padding);
}

.welcome-page__button--icon {
    margin: 0 0 0 10px;
}

.welcome-page__button {
    display: flex;
    margin: 90px 0 0 0;
    font-size: var(--font-size-xs);
    text-shadow: 5px 5px 50px #00000094;
}

.welcome-page-container__title {
    font-size: var(--font-size-xl);
}

.welcome-page-container__description {
    margin: var(--welcome-page-container__description);
    text-transform: capitalize;
}

@media(min-width: 650px) {
    .welcome-page-container {
        padding: var(--welcome-page-container-padding);
    }

    .welcome-page-container__title {
        font-size: var(--font-size-xxl);
    }

    .welcome-page-container__description {
        margin: var(--welcome-page-container__description);
        font-size: var(--font-size-l);
        text-transform: capitalize;
    }
}