.lobby-page {
    width: 100%;
    height: 100%;
    padding: 40vh 0 0 0;
    animation: fadeIn 0.2s ease forwards;
}

.lobby-page__container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
}

.lobby-note--fade {
    animation: fadeOut 0.2s ease forwards;
}

.lobby-note__hidden--item {
    font-size: 14px;
    margin: 0 20px 0 0;
    display: flex;
    flex-direction: row;
}

.lobby-note {
    margin: 40px 20px 0 0;
    width: 360px;
    height: 200px;
    display: flex;
    flex-direction: column;
    background: #000000;
    box-shadow: 5px 5px 50px #00000065;
    color: #ffffff;
}

.lobby-note__hidden {
    margin: 10px 0 20px 40px;
    display: flex;
    flex-direction: row;
}

.lobby-note:not(:hover) .lobby-note__hidden {
    opacity: 0;
    pointer-events: none;
}

.lobby-note__hidden--item__edit {
    margin: 0 0 0 7px;
}

.lobby-page__title {
    font-size: 50px;
    color: #ffffff;
}

.lobby-note__hidden--item__icon {
    margin: 2px 0 0 0;
}

.lobby-note__hidden--item__icon-1 {
    transform: rotate(45deg);
    margin: 2px 0 0 0;
}

.lobby-note__field {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: #000000;
    padding: 30px 50px 20px 30px;
    color: #ffffff;
    border: none;
}

.lobby-note:hover {
    height: 250px;
    opacity: 80%;
    box-shadow: 7px 7px 50px #00000093;
    cursor: pointer;
}

.lobby-note__hidden--item:hover {
    transform: var(--transform-welcome-page__button--item);
    opacity: 80%;
    box-shadow: 7px 7px 50px #00000073;
    cursor: pointer;
}